.version.podw_jne /* version checker */
{
	color: #0000E4;
	background-color: #46E099;
}

.html
{
	background: #7F7F7F url("../images/black-cosmic.jpg") repeat-y left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 494px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	-khtml-border-radius: 39px;
	border-radius: 39px;
	padding-bottom: 6px;
	margin-left: auto;
	margin-right: auto;
}

#pu552
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 18px;
}

#u552
{
	z-index: 2;
	width: 167px;
	margin-left: 28px;
}

#u552_img
{
	padding-right: 1px;
}

#menuu570
{
	z-index: 4;
	width: 222px;
	margin-top: 27px;
}

#u571
{
	width: 222px;
}

#u574
{
	width: 216px;
	min-height: 17px;
	margin-right: -10000px;
}

#u574:hover
{
	width: 215px;
	min-height: 16px;
	margin: -1px -10000px 0px -1px;
}

#u574:active
{
	width: 214px;
	min-height: 15px;
	margin: -1px -10001px -1px -1px;
}

#u576-4
{
	width: 216px;
	min-height: 17px;
	margin-right: -10000px;
}

#u574:hover #u576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u574:active #u576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2527
{
	width: 216px;
	min-height: 17px;
	margin-right: -10000px;
}

#u2527:hover
{
	width: 215px;
	min-height: 16px;
	margin: -1px -10000px 0px -1px;
}

#u574.MuseMenuActive,#u2527:active
{
	width: 214px;
	min-height: 15px;
	margin: -1px -10001px -1px -1px;
}

#u2530-4
{
	width: 202px;
	min-height: 17px;
	margin-right: -10000px;
}

#u574.MuseMenuActive #u576-4,#u2527:hover #u2530-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2530-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2529
{
	z-index: 17;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 1px;
	left: 202px;
}

#u2527:hover #u2529
{
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2529
{
	margin: 0px -10000px 0px 0px;
}

#u2531
{
	width: 120px;
	left: 222px;
}

#u2541
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2541:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2543-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2541:hover #u2543-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2544
{
	z-index: 26;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u2527.MuseMenuActive #u2529,#u2541:hover #u2544
{
	margin: 0px -10000px 0px 0px;
}

#u2541.MuseMenuActive #u2544
{
	margin: 0px -10000px 0px 0px;
}

#u2545
{
	width: 120px;
	left: 120px;
}

#u2569
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2541.MuseMenuActive,#u2569:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2571-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2541.MuseMenuActive #u2543-4,#u2569:hover #u2571-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2576
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2569.MuseMenuActive,#u2576:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2577-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2569.MuseMenuActive #u2571-4,#u2576:hover #u2577-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2583
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2576.MuseMenuActive,#u2583:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2584-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2576.MuseMenuActive #u2577-4,#u2583:hover #u2584-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2548
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2583.MuseMenuActive,#u2548:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2549-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2583.MuseMenuActive #u2584-4,#u2548:hover #u2549-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2557
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2548.MuseMenuActive,#u2557:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2559-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2548.MuseMenuActive #u2549-4,#u2557:hover #u2559-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2532,#u2540,#u2546,#u2568,#u2575,#u2582,#u2547,#u2554,#u2561
{
	width: 120px;
}

#u2562
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2557.MuseMenuActive,#u2562:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2562.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2564-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2557.MuseMenuActive #u2559-4,#u2562:hover #u2564-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2562.MuseMenuActive #u2564-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2526,#u2533
{
	width: 222px;
	margin-top: 2px;
}

#u2534
{
	width: 216px;
	min-height: 17px;
	margin-right: -10000px;
}

#u2534:hover
{
	width: 215px;
	min-height: 16px;
	margin: -1px -10000px 0px -1px;
}

#u2527.MuseMenuActive,#u2534:active
{
	width: 214px;
	min-height: 15px;
	margin: -1px -10001px -1px -1px;
}

#u2534.MuseMenuActive
{
	width: 214px;
	min-height: 15px;
	margin: -1px -10001px -1px -1px;
}

#u2535-4
{
	width: 216px;
	min-height: 17px;
	margin-right: -10000px;
}

#u2527.MuseMenuActive #u2530-4,#u2534:hover #u2535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2534:active #u2535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2534.MuseMenuActive #u2535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu2523-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 129px;
	margin-left: 314px;
}

#u2523-4
{
	z-index: 126;
	width: 624px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	position: relative;
}

#u2523
{
	color: #FFFFFF;
}

#slideshowu1832
{
	z-index: 75;
	width: 0.01px;
	height: 537px;
	margin-top: 7px;
	position: relative;
}

#u1835
{
	position: absolute;
	width: 624px;
	height: 495px;
	background-color: transparent;
}

#u1835popup
{
	z-index: 76;
}

#u1838
{
	z-index: 77;
	width: 624px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1838_img
{
	margin-top: -10px;
	margin-bottom: -10px;
}

#u1840
{
	z-index: 79;
	width: 624px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1840_img
{
	margin-top: -50px;
	margin-bottom: -50px;
}

#u1846
{
	z-index: 81;
	width: 624px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1846_img
{
	margin: -28px 16px -27px;
}

#u1836
{
	z-index: 83;
	width: 624px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1836_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u1844
{
	z-index: 85;
	width: 624px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1838_clip,#u1840_clip,#u1846_clip,#u1836_clip,#u1844_clip
{
	overflow: hidden;
	width: 624px;
	height: 495px;
}

#u1844_img
{
	margin: -12px 114px -13px 115px;
}

#u1842
{
	z-index: 87;
	width: 624px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1848
{
	position: absolute;
	width: 496px;
	background-color: transparent;
	top: 497px;
}

#u1848popup
{
	z-index: 89;
}

#u1851-4
{
	z-index: 90;
	width: 476px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1852-4
{
	z-index: 94;
	width: 476px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1850-4
{
	z-index: 98;
	width: 476px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1854-4
{
	z-index: 102;
	width: 476px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1853-4
{
	z-index: 106;
	width: 476px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1849-4
{
	z-index: 110;
	width: 476px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1858-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 497px;
	left: 526px;
}

#u1858-4popup
{
	z-index: 114;
}

#u1872-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 497px;
	left: 496px;
}

#u1872-4popup
{
	z-index: 118;
}

#u1858,#u1872
{
	color: #999999;
}

#u1855-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 497px;
	left: 594px;
}

#u1855-4popup
{
	z-index: 122;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u585-4
{
	z-index: 71;
	width: 223px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 745px;
	left: 22px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -745px;
}

